# Bloquea cualquier acceso directo a esta carpeta (Apache 2.2 y 2.4)
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
